<%- include('./Partial/head.ejs') %>

    <body>
        <!-- header section -->
        <header>
            <%- include('./Partial/nav.ejs') %>
                <!-- you are worth it text section -->
                <div id="home" class="slogan">
                    <h1>Because</h1>
                    <h2 class="title">
                        <b>you're
                            <br />
                            worth it</b>
                    </h2>
                </div>
                <!-- images for menu in the head section -->
                <figure class="image-content">
                    <figcaption>
                        <img src="../Images/chips.jpg" alt="an image of a fried chips">
                        <h4>
                            Chips &amp; Fish
                            <br>
                            <b>- $7.99</b>
                        </h4>
                    </figcaption>
                    <figcaption>
                        <img src="../Images/salad.jpg" alt="an image of prepared salad">
                        <h4>
                            Chef Salad
                            <br>
                            <b>- $2.99</b>
                        </h4>
                    </figcaption>
                    <figcaption>
                        <img src="../Images/tuna.jpg" alt="a image of spicy tuna">
                        <h4>
                            Grilled Steak
                            <br>
                            <b>- $14.99</b>
                        </h4>
                    </figcaption>
                    <figcaption><img src="../Images/chicken.jpg" alt="an image of a chicken">
                        <h4>
                            Roast Chicken
                            <br>
                            <b>- $9.99</b>
                        </h4>
                    </figcaption>
                </figure>
        </header>
        <section id="discover_our_story">
            <h2 class="discover-title">Discover Our Story</h2>
            <p>
                In our work we try to use only the most modern, convenient
                and interesting solutions. We want the template you
                downloaded look unique and new for such a long time as it is
                possible.
            </p>
            <figure id="discover-img">
                <img src="../Images/center-block-bg2.png" alt="">
            </figure>
        </section>
        <section id="fixed-bg">
            <div class="what-to-eat-section">
                <h2 class="Eat-title">
                    What to Eat ?
                    <br />
                    <b>Enjoy our menu</b>
                </h2>
                <p class="more-dishes-p">
                    More than 250 dishes and 300 drinks for you.
                </p>
            </div>
            <button class="button"><i class="fa fa-book"></i> View Menu</button>
            <div id="menutabs">
                <ul>
                    <li>
                        <figure class="burger">
                            <img src="../Images/burger.jfif" alt="an image of a burger" class="image">
                            <figcaption id="figuretext">
                                <h2><b>Burger</b></h2>
                                <p>
                                    Burger Cheddar with salad, chicken and pickled red onion
                                    <br>
                                    <strong>- $11.58</strong>
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="../Images/chickenmeat.jfif" alt="an image of a chicken meat" class="image">
                            <figcaption id="figuretext">
                                <h2><b>Grilled Chicken</b></h2>
                                <p>
                                    Grilled chicken with spinach salad.
                                    <br>
                                    <strong>- $9.95</strong>
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <figcaption id="figuretext">
                                <h2><b>Pizza</b></h2>
                                <p>
                                    Carribean Pizza spiced with swiss cheese and grilled chicken.
                                    <br>
                                    <strong> -$11.95</strong>
                                </p>
                            </figcaption>
                            <img src="../Images/pizza.jpg" alt="an image of a pizza" class="image">
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <figcaption id="figuretext">
                                <h2><b>Chips & Burger</b></h2>
                                <p>
                                    Chips with combo of burger and drink
                                    <br>
                                    <strong> - $9</strong>
                                </p>
                            </figcaption>
                            <img src="../Images/chip.jfif" alt="an image of a chip" class="image">
                        </figure>
                    </li>
                    <li>
                        <figure class="burger">
                            <img src="../Images/rice with fish.jpg" alt="image of plain rice with salad,fish and salad"
                                class="image">
                            <figcaption id="figuretext">
                                <h2><b>Plain Rice</b></h2>
                                <p>
                                    Plain Rice with slice of tuna and vegetables
                                    <br><strong>- $8</strong>
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="../Images/spicy salad.jpg" alt="images of salad" class="image">
                            <figcaption id="figuretext">
                                <h2><b>Salads</b></h2>
                                <p>
                                    Spicy Salad with spinach, tomatoes, and Greek olives.
                                    <br>
                                    <strong> - $9.95</strong>
                                </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure class="burger">
                            <figcaption id="figuretext">
                                <h2><b>Mint Drink</b></h2>
                                <p>
                                    Mint drink topped up with lemon and ginger
                                    <br>
                                    <strong>- $5</strong>
                                </p>
                            </figcaption>
                            <img src="../Images/mint drink.jfif" alt="mint drink" class="image">
                        </figure>
                    </li>
                    <li>
                        <figure class="burger">
                            <figcaption id="figuretext">
                                <h2><b>Orange juice</b></h2>
                                <p>
                                    Orange Juice with pineapple and ginger <br>
                                    <strong>- $5</strong>
                                </p>
                            </figcaption>
                            <img src="../Images/orange juice.jfif" alt="orange drink" class="image">
                        </figure>
                    </li>
                </ul>
            </div>
        </section>
        <section id="features">
            <figure class="feature-image">
                <figcaption>
                    <img src="../Images/hot_food.png" alt="image of hot food">
                    <div class="content">
                        <h3>Fully Responsive</h3>
                        <p>
                            Your project looks great on any device. Content can be easily read and a user understands
                            freely
                            what you wanted to say him or her.
                        </p>
                    </div>
                </figcaption>
                <figcaption>
                    <img src="../Images/feature-food3.png" alt="image of hot food">
                    <div class="content">
                        <h3>Pure &amp; Simple</h3>
                        <p>
                            No fluff. Nothing should lead the visitor away from the main
                            essence of website. There must be just important
                            information.
                        </p>
                    </div>
                </figcaption>
                <figcaption>
                    <img src="../Images/feature-food5.png" alt="image of a glass cup and wine">
                    <div class="content">
                        <h3>Color Schemes</h3>
                        <p>
                            The set of ready made CSS files with different color schemes
                            will help you in quick landing's adaptation according to
                            your benchmark style.
                        </p>
                    </div>
                </figcaption>
                <figcaption>
                    <img src="../Images/feature-food2.png" alt="an image of fruit">
                    <div class="content">
                        <h3>PSD Is Included</h3>
                        <p>
                            The graphic source file in PSD format is included in the
                            archive.
                        </p>
                    </div>
                </figcaption>
                <figcaption>
                    <img src="../Images/feature-food4.png" alt="a cup of coffe image">
                    <div class="content">
                        <h3>Documentation</h3>
                        <p>
                            The detailed documentation will help you in adjusting the
                            project with little effort according to your requirements.
                        </p>
                    </div>
                </figcaption>
                <figcaption>
                    <img src="../Images/feature-food6.png" alt="an image of mushroom">
                    <div class="content">
                        <h3>Havenplatform</h3>
                        <p>
                            The page is adapted to the most of the popular platform in
                            segment.
                        </p>
                    </div>
                    </li>
                </figcaption>
            </figure>
        </section>
        <section id="sliding-content">
            <div class="content">
                <% if (formList.length> 0 ) { %>
                    <% formList.reverse().forEach(form=> { %>
                        <div class="mySlides">
                            <div class="star-icons">
                                <% for( let index=0; index < form.rating; index++ ) { %>
                                    <span class="fa fa-star star"></span>
                                    <% } %>
                            </div>
                            <h3>
                                <%= form.comment%>
                            </h3>
                            <p>
                                <%= form.name%>
                            </p>
                        </div>
                        <% }) %>
                            <% } else { %>
                                <p class="output-content">
                                    <%="There's no content at the moment"%>
                                </p>
                                <% }%>
            </div>
            <div id="dot">
                <!-- <% for( let index = 0; index < formList.length; index++ ) {%>
                    <% } %> -->
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(14)"></span>
            </div>
        </section>

        <section class="counter-section">
            <div class="count-grid">
                <div class="count">
                    <div class="count-icon">
                        <i class="fa fa-utensils"></i>
                    </div>
                    <h3 class="timer" data-target="276">0</h3>
                    <h4>Dishes</h4>
                </div>
                <div class="count">
                    <div class="count-icon">
                        <i class="fa fa-wine-glass"></i>
                    </div>
                    <h3 class="timer" data-target="309">0</h3>
                    <h4>Drinks</h4>
                </div>
                <div class="count">
                    <div class="count-icon">
                        <i class="fa fa-smile"></i>
                    </div>
                    <h3 class="timer" data-target="721">0</h3>
                    <h4>Happy Clients</h4>
                </div>
                <div class="count">
                    <div class="count-icon">
                        <i class="fa fa-heart"></i>
                    </div>
                    <h3 class="timer" data-target="378">0</h3>
                    <h4>Likes</h4>
                </div>
            </div>
        </section>
        <section id="bookAtable">
            <h2>Book a Table</h2>
            <div class="book-a-table-section">
                <form>
                    <input type="text" name="fullname" id="fullname" placeholder="Full Name" required>
                    <input type="email" name="email" id="email" placeholder="Email Address " required>
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Your Message Or Question"
                        required></textarea>
                    <button type="submit" class="btn">
                        <i class="fa fa-pen-square"></i>Book
                    </button>
                </form>
                <div class="bookatable-content">
                    <p>In our work we try to use only the most modern, convenient and interesting solutions.
                        We want the template tolook unique and new for such a long time as it is possible.
                    </p>
                    <ul class="bookatable-icons">
                        <li><i class="fa fa-clock"></i>10:00 - 23:00 (Mon - Sun)</li>
                        <li><i class="fa fa-crosshairs"></i>Kasoa, central region,ghana.</li>
                        <li><i class="fa fa-phone-volume"></i>030-5694-988 (Callback)</li>
                        <li><i class="fa fa-envelope"></i>sirashaven@gmail.com</li>
                    </ul>
                </div>
            </div>
        </section>
        <%- include('./Partial/footer.ejs') %>
            <script src="../Js/index.js"></script>
    </body>

    </html>